<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>ex1</display-name>
    <servlet-name>ex1</servlet-name>
    <servlet-class>ex1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ex1</servlet-name>
    <url-pattern>/ex1</url-pattern>
  </servlet-mapping>
  <display-name>listaServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Ex1Servlet</display-name>
    <servlet-name>Ex1Servlet</servlet-name>
    <servlet-class>Ex1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex1Servlet</servlet-name>
    <url-pattern>/Ex1Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ex1</display-name>
    <servlet-name>Ex1</servlet-name>
    <servlet-class>Ex1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex1</servlet-name>
    <url-pattern>/Ex1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ex2</display-name>
    <servlet-name>Ex2</servlet-name>
    <servlet-class>Ex2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex2</servlet-name>
    <url-pattern>/Ex2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ex3</display-name>
    <servlet-name>Ex3</servlet-name>
    <servlet-class>Ex3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex3</servlet-name>
    <url-pattern>/Ex3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ex4</display-name>
    <servlet-name>Ex4</servlet-name>
    <servlet-class>Ex4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex4</servlet-name>
    <url-pattern>/Ex4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ex5</display-name>
    <servlet-name>Ex5</servlet-name>
    <servlet-class>Ex5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex5</servlet-name>
    <url-pattern>/Ex5</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ex6</display-name>
    <servlet-name>Ex6</servlet-name>
    <servlet-class>Ex6</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex6</servlet-name>
    <url-pattern>/Ex6</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ex6Ler</display-name>
    <servlet-name>Ex6Ler</servlet-name>
    <servlet-class>Ex6Ler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex6Ler</servlet-name>
    <url-pattern>/Ex6Ler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ex7</display-name>
    <servlet-name>Ex7</servlet-name>
    <servlet-class>Ex7</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex7</servlet-name>
    <url-pattern>/Ex7</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ex8</display-name>
    <servlet-name>Ex8</servlet-name>
    <servlet-class>Ex8</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex8</servlet-name>
    <url-pattern>/Ex8</url-pattern>
  </servlet-mapping>
</web-app>